@charset "UTF-8";
/**
 * Jeong A Ra CSS
 * http://jeongara.com/
 *
 * Layout Guide CSS
 */


/* ================================
  HEADER
================================= */
#header {display:flex;align-items:center;position:sticky;top:0;left:0;width:100%;height:var(--header-h);padding:0px 60px;background-color:var(--color-bg);border-bottom:1px solid var(--color-line);z-index:100;}
.header__logo {line-height:100%;}
.header__logo img {height:30px;}



/* ================================
  CONTAINER (메인 콘텐츠 영역)
================================= */
#wrap {display:flex;flex-direction:column;min-height:100svh;}
#container {flex:1 1 auto;display:flex;flex-direction:column;min-height:0;}
.content {flex:1 1 auto;min-height: 0;padding:0px 60px;}

/* 로딩 */
.loading {display:grid;align-items:center;justify-content:center;align-content:center;row-gap:13.3px;position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;font-size:18px;color:#FFF;}
.loading::after {content:'';position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.5;z-index:-1;}
.loading__icon {width:64px;height:64px;margin:0 auto;background-repeat:no-repeat;background-position:center;background-image:url(../img/icon/ico_loading.svg);animation: spin 1.3s linear infinite;}
@keyframes spin {
  to {transform:rotate(360deg);}
}
@media screen and (max-width:480px) {
  .loading {font-size:15px;}
}