@charset "UTF-8";
/**
 * Jeong A Ra CSS
 * http://jeongara.com/
 *
 * Reset CSS
 */
:root {
    --color-primary: #5BB431;
    --color-primary-hover: #499027;
    --color-primary-active: #3A731F;
    --color-white: #FFF;
    --color-line: #DDD;
    --color-title: #1D1D1D;
    --color-desc: #3D3D3D;
    --color-text: #7D7D7D;
    --color-focus: #444;
    --color-placeholder: #9D9D9D;
    --color-bg: #F0F0F0;
    --color-bg2: #F9F9F9;
    --size-icon: 24px;
    --header-h: 96px;
    --searchbar-h: 165px;
}
@media screen and (max-width:1200px) {
    :root {
        --header-h: 60px;
        --searchbar-h:136px;
    }
}
@media screen and (max-width:1024px) {
    :root {--searchbar-h:126px;}
}
@media screen and (max-width:480px) {
    :root {--searchbar-h:79px;}
}
*,*::before,*::after {box-sizing:border-box;margin:0;padding:0;font-family:"Pretendard","맑은고딕","Apple SD Gothic Neo",-apple-system,Segoe UI,Helvetica,Arial,sans-serif;-webkit-tap-highlight-color:transparent;}
html {height:100%;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
body {position:relative;min-height:100vh;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizeLegibility;background-color:var(--color-white);}
img,fieldset {border:0;}
img {vertical-align:top;max-width:100%;}
em,address {font-style:normal;}
a {color:inherit;text-decoration:none;}
strong {font-weight:700;}
b {font-weight:900;}
table {border-collapse:collapse;}
.blind {position:absolute;width:1px;height:1px;clip:rect(0 0 0 0);overflow:hidden;white-space:nowrap;}